<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>bulkpriceupdater</name>
	<displayName><![CDATA[Bulk Price Updater]]></displayName>
	<version><![CDATA[0.9.0]]></version>
	<description><![CDATA[Add functionality to bulk update product prices]]></description>
	<author><![CDATA[Novanta]]></author>
	<tab><![CDATA[pricing_promotion]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
